# Data engineering capstone project

Notebook to explore, select and clean data before creating the DB and start with the ETL process

###  First data frame
SAS data

In [1]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["PATH"] = "/opt/conda/bin:/opt/spark-2.4.3-bin-hadoop2.7/bin:/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/lib/jvm/java-8-openjdk-amd64/bin"
os.environ["SPARK_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"
os.environ["HADOOP_HOME"] = "/opt/spark-2.4.3-bin-hadoop2.7"
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
#df_spark =spark.read.load('./sas_data')
print("Completed, ran successfully")

Completed, ran successfully

In [2]:
import pandas as pd
pd.set_option('max_columns', None)

In [3]:
from pyspark.sql.functions import isnan, when, count, col

In [3]:
print((df_spark.count(), len(df_spark.columns)))

(3096313, 28)

In [4]:
df_spark.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [5]:
df_spark.limit(10).toPandas()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,5748517.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,CA,20582.0,40.0,1.0,1.0,20160430,SYD,None,G,O,None,M,1976.0,10292016,F,None,QF,9.495387e+10,00011,B1
1,5748518.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,NV,20591.0,32.0,1.0,1.0,20160430,SYD,None,G,O,None,M,1984.0,10292016,F,None,VA,9.495562e+10,00007,B1
2,5748519.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20582.0,29.0,1.0,1.0,20160430,SYD,None,G,O,None,M,1987.0,10292016,M,None,DL,9.495641e+10,00040,B1
3,5748520.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,29.0,1.0,1.0,20160430,SYD,None,G,O,None,M,1987.0,10292016,F,None,DL,9.495645e+10,00040,B1
4,5748521.0,2016.0,4.0,245.0,438.0,LOS,20574.0,1.0,WA,20588.0,28.0,1.0,1.0,20160430,SYD,None,G,O,None,M,1988.0,10292016,M,None,DL,9.495639e+10,00040,B1
5,5748522.0,2016.0,4.0,245.0,464.0,HHW,20574.0,1.0,HI,20579.0,57.0,2.0,1.0,20160430,ACK,None,G,O,None,M,1959.0,10292016,M,None,NZ,9.498180e+10,00010,B2
6,5748523.0,2016.0,4.0,245.0,464.0,HHW,20574.0,1.0,HI,20586.0,66.0,2.0,1.0,20160430,ACK,None,G,O,None,M,1950.0,10292016,F,None,NZ,9.497969e+10,00010,B2
7,5748524.0,2016.0,4.0,245.0,464.0,HHW,20574.0,1.0,HI,20586.0,41.0,2.0,1.0,20160430,ACK,None,G,O,None,M,1975.0,10292016,F,None,NZ,9.497975e+10,00010,B2
8,5748525.0,2016.0,4.0,245.0,464.0,HOU,20574.0,1.0,FL,20581.0,27.0,2.0,1.0,20160430,ACK,None,G,O,None,M,1989.0,10292016,M,None,NZ,9.497325e+10,00028,B2
9,5748526.0,2016.0,4.0,245.0,464.0,LOS,20574.0,1.0,CA,20581.0,26.0,2.0,1.0,20160430,ACK,None,G,O,None,M,1990.0,10292016,F,None,NZ,9.501355e+10,00002,B2

In [6]:
df_spark.select([count(when(col(c).isNull(), c)).alias(c) for c in df_spark.columns]).toPandas()

,cicid,i94yr,i94mon,i94cit,i94res,i94port,arrdate,i94mode,i94addr,depdate,i94bir,i94visa,count,dtadfile,visapost,occup,entdepa,entdepd,entdepu,matflag,biryear,dtaddto,gender,insnum,airline,admnum,fltno,visatype
0,0,0,0,0,0,0,0,239,152592,142457,802,0,0,1,1881250,3088187,238,138429,3095921,138429,802,477,414269,2982605,83627,0,19549,0

In [7]:
"""
Getting rid of columns with the most 'Null' data > 50%
    * visapost
    * occup
    * entdepu
    * insnum
"""

columns_to_drop = ['visapost', 'occup', 'entdepu', 'insnum']
df_spark = df_spark.drop(*columns_to_drop)

In [8]:
"""
Getting rid of columns with meaninfull data
    * entdepa
    * entdepd
    * entdepd
    * count 
    * admnum
"""

columns_to_drop = ['entdepa', 'entdepd', 'entdepd', 'count', 'adnum']
df_spark = df_spark.drop(*columns_to_drop)

In [9]:
df_spark.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

### Working on the second dataframe

In [4]:
temp_path = 'airport-codes_csv.csv'
temp_sp_df = spark.read.option("header",True).csv(temp_path)
temp_sp_df.printSchema()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: string (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

In [5]:
print((temp_sp_df.count(), len(temp_sp_df.columns)))

(55075, 12)

In [6]:
temp_sp_df.limit(10).toPandas()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,00A,heliport,Total Rf Heliport,11,NA,US,US-PA,Bensalem,00A,None,00A,"-74.93360137939453, 40.07080078125"
1,00AA,small_airport,Aero B Ranch Airport,3435,NA,US,US-KS,Leoti,00AA,None,00AA,"-101.473911, 38.704022"
2,00AK,small_airport,Lowell Field,450,NA,US,US-AK,Anchor Point,00AK,None,00AK,"-151.695999146, 59.94919968"
3,00AL,small_airport,Epps Airpark,820,NA,US,US-AL,Harvest,00AL,None,00AL,"-86.77030181884766, 34.86479949951172"
4,00AR,closed,Newport Hospital & Clinic Heliport,237,NA,US,US-AR,Newport,None,None,None,"-91.254898, 35.6087"
5,00AS,small_airport,Fulton Airport,1100,NA,US,US-OK,Alex,00AS,None,00AS,"-97.8180194, 34.9428028"
6,00AZ,small_airport,Cordes Airport,3810,NA,US,US-AZ,Cordes,00AZ,None,00AZ,"-112.16500091552734, 34.305599212646484"
7,00CA,small_airport,Goldstone /Gts/ Airport,3038,NA,US,US-CA,Barstow,00CA,None,00CA,"-116.888000488, 35.350498199499995"
8,00CL,small_airport,Williams Ag Airport,87,NA,US,US-CA,Biggs,00CL,None,00CL,"-121.763427, 39.427188"
9,00CN,heliport,Kitchen Creek Helibase Heliport,3350,NA,US,US-CA,Pine Valley,00CN,None,00CN,"-116.4597417, 32.7273736"

In [7]:
temp_sp_df.select([count(when(col(c).isNull(), c)).alias(c) for c in temp_sp_df.columns]).toPandas()

,ident,type,name,elevation_ft,continent,iso_country,iso_region,municipality,gps_code,iata_code,local_code,coordinates
0,0,0,0,7006,0,0,0,5676,14045,45886,26389,0

In [8]:
!pip install geopy

Collecting geopy
  Downloading https://files.pythonhosted.org/packages/0c/67/915668d0e286caa21a1da82a85ffe3d20528ec7212777b43ccd027d94023/geopy-2.1.0-py3-none-any.whl (112kB)
    100% |████████████████████████████████| 112kB 4.1MB/s ta 0:00:01
Collecting geographiclib<2,>=1.49 (from geopy)
  Downloading https://files.pythonhosted.org/packages/8b/62/26ec95a98ba64299163199e95ad1b0e34ad3f4e176e221c40245f211e425/geographiclib-1.50-py3-none-any.whl
Installing collected packages: geographiclib, geopy
Successfully installed geographiclib-1.50 geopy-2.1.0

In [43]:
"""To define if we can get rid of 
    * gps_code
    * iata_code
    * local_code
because of the ammount of nulls in those columns and are kind of technical terms
however we have the coordinates extract data"""

from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="geoapiExercises")

def city_state_country(coord):
    
    try:
        print(coord.tolist())
        coord = ', '.join(str(coord.tolist()[0]).split(', ')[::-1])
        print(str(coord))
        location = geolocator.reverse(str(coord))
        address = location.raw["address"]
        #print(address)
        city = address.get('city', '')
        state = address.get('state', '')
        country = address.get('country', '')
        return city, state, country
        return coord
#print(city_state_country("30.930508, 75.8419883"))

    except ValueError:
        return(0)

temp_locations = (temp_sp_df.limit(10).select("coordinates").toPandas()
                   .apply(lambda row: city_state_country(row),
                          axis=1)
                 )

['-74.93360137939453, 40.07080078125']
40.07080078125, -74.93360137939453
['-101.473911, 38.704022']
38.704022, -101.473911
['-151.695999146, 59.94919968']
59.94919968, -151.695999146
['-86.77030181884766, 34.86479949951172']
34.86479949951172, -86.77030181884766
['-91.254898, 35.6087']
35.6087, -91.254898
['-97.8180194, 34.9428028']
34.9428028, -97.8180194
['-112.16500091552734, 34.305599212646484']
34.305599212646484, -112.16500091552734
['-116.888000488, 35.350498199499995']
35.350498199499995, -116.888000488
['-121.763427, 39.427188']
39.427188, -121.763427
['-116.4597417, 32.7273736']
32.7273736, -116.4597417

In [46]:
location = geolocator.reverse("59.94919968, -151.695999146")
address = location.raw["address"]
print(address)

{'road': 'Sonny Street', 'county': 'Kenai Peninsula', 'state': 'Alaska', 'country': 'United States', 'country_code': 'us'}

In [48]:
temp_sp_df.select("iso_country").distinct().collect()

[Row(iso_country='DZ'),
 Row(iso_country='LT'),
 Row(iso_country='MM'),
 Row(iso_country='CI'),
 Row(iso_country='TC'),
 Row(iso_country='AZ'),
 Row(iso_country='FI'),
 Row(iso_country='SC'),
 Row(iso_country='PM'),
 Row(iso_country='UA'),
 Row(iso_country='ZM'),
 Row(iso_country='KI'),
 Row(iso_country='RO'),
 Row(iso_country='SL'),
 Row(iso_country='SB'),
 Row(iso_country='NL'),
 Row(iso_country='LA'),
 Row(iso_country='BS'),
 Row(iso_country='BW'),
 Row(iso_country='MN'),
 Row(iso_country='AM'),
 Row(iso_country='PL'),
 Row(iso_country='RE'),
 Row(iso_country='PS'),
 Row(iso_country='MK'),
 Row(iso_country='MX'),
 Row(iso_country='PF'),
 Row(iso_country='ZZ'),
 Row(iso_country='GL'),
 Row(iso_country='TV'),
 Row(iso_country='EE'),
 Row(iso_country='VG'),
 Row(iso_country='SM'),
 Row(iso_country='CN'),
 Row(iso_country='UM'),
 Row(iso_country='AT'),
 Row(iso_country='RU'),
 Row(iso_country='NA'),
 Row(iso_country='IQ'),
 Row(iso_country='CG'),
 Row(iso_country='AD'),
 Row(iso_country='HR'),
 Row(iso_country='LI'),
 Row(iso_country='SV'),
 Row(iso_country='CZ'),
 Row(iso_country='NP'),
 Row(iso_country='VA'),
 Row(iso_country='SO'),
 Row(iso_country='PT'),
 Row(iso_country='PG'),
 Row(iso_country='GG'),
 Row(iso_country='CX'),
 Row(iso_country='KY'),
 Row(iso_country='GH'),
 Row(iso_country='CV'),
 Row(iso_country='HK'),
 Row(iso_country='BN'),
 Row(iso_country='LR'),
 Row(iso_country='TW'),
 Row(iso_country='BD'),
 Row(iso_country='LB'),
 Row(iso_country='PY'),
 Row(iso_country='CL'),
 Row(iso_country='TO'),
 Row(iso_country='ID'),
 Row(iso_country='FK'),
 Row(iso_country='LY'),
 Row(iso_country='SA'),
 Row(iso_country='AU'),
 Row(iso_country='PK'),
 Row(iso_country='BM'),
 Row(iso_country='CA'),
 Row(iso_country='MW'),
 Row(iso_country='BL'),
 Row(iso_country='NE'),
 Row(iso_country='UZ'),
 Row(iso_country='GB'),
 Row(iso_country='MT'),
 Row(iso_country='YE'),
 Row(iso_country='BR'),
 Row(iso_country='KZ'),
 Row(iso_country='BY'),
 Row(iso_country='HN'),
 Row(iso_country='NC'),
 Row(iso_country='GT'),
 Row(iso_country='MD'),
 Row(iso_country='DE'),
 Row(iso_country='IO'),
 Row(iso_country='GN'),
 Row(iso_country='AW'),
 Row(iso_country='ES'),
 Row(iso_country='NR'),
 Row(iso_country='BH'),
 Row(iso_country='EC'),
 Row(iso_country='IR'),
 Row(iso_country='MO'),
 Row(iso_country='VI'),
 Row(iso_country='IL'),
 Row(iso_country='MR'),
 Row(iso_country='TR'),
 Row(iso_country='ME'),
 Row(iso_country='VE'),
 Row(iso_country='ZA'),
 Row(iso_country='CR'),
 Row(iso_country='SX'),
 Row(iso_country='AI'),
 Row(iso_country='GU'),
 Row(iso_country='KR'),
 Row(iso_country='TZ'),
 Row(iso_country='US'),
 Row(iso_country='AQ'),
 Row(iso_country='RS'),
 Row(iso_country='MS'),
 Row(iso_country='AL'),
 Row(iso_country='MY'),
 Row(iso_country='IN'),
 Row(iso_country='JM'),
 Row(iso_country='CK'),
 Row(iso_country='GM'),
 Row(iso_country='LC'),
 Row(iso_country='AE'),
 Row(iso_country='MQ'),
 Row(iso_country='CM'),
 Row(iso_country='TG'),
 Row(iso_country='RW'),
 Row(iso_country='FR'),
 Row(iso_country='GF'),
 Row(iso_country='MG'),
 Row(iso_country='CH'),
 Row(iso_country='CC'),
 Row(iso_country='TN'),
 Row(iso_country='GQ'),
 Row(iso_country='NU'),
 Row(iso_country='TL'),
 Row(iso_country='WF'),
 Row(iso_country='GR'),
 Row(iso_country='TD'),
 Row(iso_country='PA'),
 Row(iso_country='GI'),
 Row(iso_country='SD'),
 Row(iso_country='AG'),
 Row(iso_country='DJ'),
 Row(iso_country='MC'),
 Row(iso_country='BA'),
 Row(iso_country='JO'),
 Row(iso_country='ET'),
 Row(iso_country='SG'),
 Row(iso_country='KP'),
 Row(iso_country='BF'),
 Row(iso_country='CU'),
 Row(iso_country='GW'),
 Row(iso_country='IT'),
 Row(iso_country='FO'),
 Row(iso_country='MV'),
 Row(iso_country='SE'),
 Row(iso_country='BG'),
 Row(iso_country='PH'),
 Row(iso_country='FJ'),
 Row(iso_country='WS'),
 Row(iso_country='GE'),
 Row(iso_country='SK'),
 Row(iso_country='MH'),
 Row(iso_country='FM'),
 Row(iso_country='CW'),
 Row(iso_country='LV'),
 Row(iso_country='MU'),
 Row(iso_country='PE'),
 Row(iso_country='LS'),
 Row(iso_country='MZ'),
 Row(iso_country='GD'),
 Row(iso_country='KM'),
 Row(iso_country='DM'),
 Row(iso_country='XK'),
 Row(iso_country='BZ'),
 Row(iso_country='DO'),
 Row(iso_country='QA'),
 Row(iso_country='TH'),
 Row(iso_country='BI'),
 Row(iso_country='EG'),
 Row(iso_country='SH'),
 Row(iso_country='BJ'),
 Row(iso_country='MF'),
 Row(iso_country='GY'),
 Row(iso_country='JP'),
 Row(iso_country='TM'),
 Row(iso_country='VC'),
 Row(iso_country='ZW'),
 Row(iso_country='SN'),
 Row(iso_country='NZ'),
 Row(iso_country='LK'),
 Row(iso_country='OM'),
 Row(iso_country='BT'),
 Row(iso_country='HU'),
 Row(iso_country='KN'),
 Row(iso_country='KE'),
 Row(iso_country='CY'),
 Row(iso_country='SI'),
 Row(iso_country='ML'),
 Row(iso_country='HT'),
 Row(iso_country='GP'),
 Row(iso_country='UG'),
 Row(iso_country='IE'),
 Row(iso_country='KW'),
 Row(iso_country='GA'),
 Row(iso_country='VU'),
 Row(iso_country='AS'),
 Row(iso_country='BE'),
 Row(iso_country='MA'),
 Row(iso_country='KH'),
 Row(iso_country='NI'),
 Row(iso_country='KG'),
 Row(iso_country='TT'),
 Row(iso_country='BO'),
 Row(iso_country='NO'),
 Row(iso_country='SY'),
 Row(iso_country='ER'),
 Row(iso_country='CO'),
 Row(iso_country='IM'),
 Row(iso_country='SS'),
 Row(iso_country='UY'),
 Row(iso_country='NG'),
 Row(iso_country='TF'),
 Row(iso_country='JE'),
 Row(iso_country='YT'),
 Row(iso_country='AR'),
 Row(iso_country='CF'),
 Row(iso_country='PW'),
 Row(iso_country='PR'),
 Row(iso_country='LU'),
 Row(iso_country='SZ'),
 Row(iso_country='NF'),
 Row(iso_country='EH'),
 Row(iso_country='VN'),
 Row(iso_country='MP'),
 Row(iso_country='IS'),
 Row(iso_country='AF'),
 Row(iso_country='BB'),
 Row(iso_country='BQ'),
 Row(iso_country='SR'),
 Row(iso_country='CD'),
 Row(iso_country='DK'),
 Row(iso_country='TJ'),
 Row(iso_country='AO'),
 Row(iso_country='ST')]